<form action="/user-private" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Choice avatar</label>
        <input type="file" class="form-control-file" name="avatar">
    </div>
    <button type="submit" class="btn btn-primary mb-2">submit</button>
</form>